<html>
    <head>
        <link rel="stylesheet" href="/styles/design.css">
    </head>

    <body>
        <h1>Stack over flow</h1>

        <p> <%= id %> </p>
        <p> <%= username %> </p>
    </body>
</html>

